<br>
<div class="container"style="background-color: white">
    <div class="row">
        <div class="carta card card-body col-md-8">
                <br>
            <div class="card row">
                    <div class="card-header text-center">
                        <h4>Equipaje Adicional</h4>
                    </div>
                    <div class="card-body">
                      <p class="lead"> Pieza Adicional 1 a 23kg (1 a 50 lbs)</p>
                      <div class='table-responsive'>
                            <table class='table'>
                                <thead class="bg-light" >
                                        <tr>
                                          <th>Peso Max</th>
                                          <th>Cantidad</th>
                                          <th>Precio</th>
                                        
                                        </tr>
                                </thead>
                                <tbody>
                                    <td> 25 lb</td>
                                    <td>   <button pButton type="button" label="Añadir" class="ui-button-raised ui-button-info" (click)="anadir()"></button></td>
                                    <td>15 $</td>
                                </tbody>
                             
                                
                            </table>
                      
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
                <app-seleccion></app-seleccion>
            </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>