<div class="container">
    <br>
    <div class="carta card card-body col-md-12">
        <div class="row">
            <div class="col-md-12 text-center">
            <br>
            <p class="principal"> <i class="fa fa-cog fa-spin fa-lg fa-fw"></i>
                <span class="sr-only">Loading...</span>Panel Administrativo  </p> 
        </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 text-center circle uno" (click)="vuelos()"><i class="fa fa-plane fa-5x" aria-hidden="true" ></i>
            <br> <p>Administrar Vuelos</p></div>
            <div class="col-md-4 text-center circle dos" (click)="reporteria()"><i class="fa fa-pie-chart fa-5x" aria-hidden="true"></i>
            <br> <p>Reporteria de Ventas</p></div>
          
            <div class="col-md-2"></div>
        </div>
        <br><br> <br> <br>
    </div>
</div>
