<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Airline GT</title>
    <base href="/">
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/node_modules/primeicons/primeicons.css" rel="stylesheet" />
    <link href="~/node_modules/primeng/resources/themes/nova-light/theme.css" rel="stylesheet" />
    <link href="~/node_modules/primeng/resources/primeng.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, user-scalable=no">

</head>
<body>

    @RenderBody()
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/node_modules/chart.js/dist/Chart.js"></script>
    @RenderSection("scripts", false)
</body>
</html>

